body{
    background-color: #142850;
}

h1 {
   background-color: #00909e;
    text-align: center;
}

a{
    color: #dae1e7;
}

div{
    background-color: #27496d;
}

ul {
    color: #dae1e7;
}

li {
    color: #dae1e7;
}

img{
    width: 500px;
    height: 300px;
}

p{
    color: #dae1e7;
}

.nalla{
    width: 300px;
    height: 300px;
    margin-left: 10%;
}

.simba{
    width: 300px;
    height: 300px;
    
}

.simbaNalla{
    width: 300px;
    height: 300px;
}

.simba2{
    width: 300px;
    height: 300px;
    margin-left: 10%;
}


